<body class="bg-stone-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-100"></body>

<div class="container mx-auto px-4 pt-4 pb-16 max-w-2xl">
  <div class="space-y-4">
    <h1 class="text-4xl font-bold">Contact Me</h1>
    <p>Please fill in the following form</p>

    <%= form_with(model: @message, url: '/contact', local:true) do |form|%>
    <div class="space-y-4">
      <div>
        <%= form.label :name, "Name", class: "font-bold"%><br>
        <%= form.text_field :name, placeholder: "Your name here", class: "bg-white dark:bg-neutral-700 dark:text-neutral-100", required:true%>
      </div>
      <div>
        <%= form.label :email, "Email", class: "font-bold"%><br>
        <%= form.email_field :email, placeholder: "your@email.com", class: "bg-white dark:bg-neutral-700 dark:text-neutral-100", required:true%>
      </div>
      <div>
        <%= form.label :content, "Message", class: "font-bold"%><br>
        <%= form.text_area :content, placeholder: "Your message here", class: "bg-white dark:bg-neutral-700 dark:text-neutral-100", required:true%>
      </div>
      <div>
        <%= form.check_box :consent, required: true%>
        <%= form.label :consent, "I agree that my information can be stored to allow a reply"%>
      </div>
      <div>
        <%= form.submit "Send message", class: "bg-indigo-600 text-white px-4 py-2 rounded hover:cursor-pointer hover:bg-emerald-600"%>
      </div>
    </div>
    <%end%>
  </div>
<div>